{% extends 'Back/base.html.twig' %}
{% block content %}

    <div class="container mt -4" style="margin-right: 110px">
        <h3>Envoyer un mail au client</h3>
        <br>
        {{ form(MailObjectifForm) }}
    </div>
{% endblock %}