{% extends 'Back/base.html.twig' %}
{% block content %}
    <br>
    <div class="content">



        <div class="container mt -4" style="margin-right: 0px">
            <h1>Modifier un Article</h1>

            <div class="row">
                <div >

                    {{form_start(format ,{'attr': {'novalidate': 'novalidate'}} ) }}
                    {{form_end(format) }}

                    {{ form_errors(format) }}
                </div>


            </div>


        </div>
    </div>

{% endblock %}


